body {
    background: url("../images/cityWallpaper.jpg");
    background-repeat: no-repeat;
    font-family: 'Mukta', sans-serif;
    
}

h1 {
    font-size: 48px;
}
h1,
label {
    color: #734b6d;
}

.searchB {
    margin: 5px;
    padding: .5rem .75rem;
    border-radius: 0.25rem; 
    color: #fff;
}

.btn,
.btn-primary,
.searchB {
    border: none;
    border: 1px solid transparent;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.btn-primary:hover,
button:hover {
    background-color: silver;
    border: none;
}

.gifAdded {
    margin: 10px;
    height: 250px;
    width: 250px;
    padding: 2px;
}
