.searchB {
    margin: 5px;
    padding: .5rem .75rem;
    border-radius: 0.25rem; 
    color: #fff;
}

.btn-primary,
.searchB {
    background-color: #000;
    border: 1px solid transparent;
}

.btn-primary:hover,
button:hover {
    background-color: silver;
}

.gifAdded {
    margin: 10px 5px;
}
