body {
    background-color: #5b7d87;
}

h1,
label {
    color: silver;
}

.searchB {
    margin: 5px;
    padding: .5rem .75rem;
    border-radius: 0.25rem; 
    color: #fff;
}

.btn-primary,
.searchB {
    background-color: #45415e;
    border: 1px solid transparent;
}

.btn-primary:hover,
button:hover {
    background-color: silver;
}

.gifAdded {
    margin-top: 10px;
    height: auto;
    max-height: 200px;
}
